@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?mtq3dc');
    src: url('../fonts/icomoon.eot?mtq3dc#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?mtq3dc') format('truetype'), url('../fonts/icomoon.woff?mtq3dc') format('woff'), url('../fonts/icomoon.svg?mtq3dc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-sodienthoai:before {
    content: "\e913";
}

.icon-email:before {
    content: "\e914";
}

.icon-account2:before {
    content: "\e900";
}

.icon-acount1:before {
    content: "\e901";
}

.icon-app:before {
    content: "\e902";
}

.icon-calendar1:before {
    content: "\e903";
}

.icon-chat:before {
    content: "\e904";
}

.icon-doc:before {
    content: "\e905";
}

.icon-down:before {
    content: "\e906";
}

.icon-edit:before {
    content: "\e907";
}

.icon-hotro:before {
    content: "\e908";
}

.icon-khuyenmai:before {
    content: "\e909";
}

.icon-napthe:before {
    content: "\e90a";
}

.icon-profile:before {
    content: "\e90b";
}

.icon-quanlytaikhoan {
    background: url(../img/icon-quanlytaikhoan.png) center no-repeat;
    overflow: hidden;
    padding: 30px 60px !important
}

.func:hover .icon-quanlytaikhoan {
    background: #fff url(../img/icon-quanlytaikhoan-ac.png) center no-repeat !important;
}

@media screen and (max-width: 760px) {
    .icon-quanlytaikhoan,
    .func:hover .icon-quanlytaikhoan,
    .func:focus .icon-quanlytaikhoan,
    .func:visited .icon-quanlytaikhoan {
        background-size: 35px 35px !important;
        padding: 15px 35px !important
    }
}

.icon-search1:before {
    content: "\e90d";
}

.icon-search2:before {
    content: "\e90e";
}

.icon-search-doc:before {
    content: "\e90f";
}

.icon-setting:before {
    content: "\e910";
}

.icon-up:before {
    content: "\e911";
}

.icon-upload:before {
    content: "\e912";
}