@charset "UTF-8";
.clearfix::after {
    clear: both;
    content: '';
    display: table;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.display-inline {
    display: inline;
}

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.display-none {
    display: none;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.margin-top-none {
    margin-top: 0;
}

.margin-top-half {
    margin-top: 0.5rem;
}

.margin-top-one {
    margin-top: 1rem;
}

.margin-top-two {
    margin-top: 2rem;
}

.margin-bottom-none {
    margin-bottom: 0;
}

.margin-bottom-half {
    margin-bottom: 0.5rem;
}

.margin-bottom-one {
    margin-bottom: 1rem;
}

.margin-bottom-two {
    margin-bottom: 2rem;
}

.text-color {
    color: #cdbe91;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.align-top {
    vertical-align: top;
}

.align-bottom {
    vertical-align: bottom;
}

.align-middle {
    vertical-align: middle;
}

.text-hide {
    overflow: hidden;
    padding: 0;
    /* 1 */
    text-indent: 101%;
    white-space: nowrap;
}

.icon {
    background-image: url(../images/sprite2x.png);
    background-size: 222.5px 156px;
    background-repeat: no-repeat;
    display: inline-block;
}

.icon-account {
    width: 65px;
    height: 65px;
    background-position: -2.5px -2.5px;
}

.icon-angle {
    width: 10.5px;
    height: 18px;
    background-position: -72.5px -2.5px;
}

.icon-angle-down {
    width: 20px;
    height: 20px;
    background-position: -88px -2.5px;
}

.icon-bars {
    width: 32px;
    height: 32px;
    background-position: -113px -2.5px;
}

.icon-card {
    width: 76px;
    height: 58px;
    background-position: -72.5px -39.5px;
}

.icon-close {
    width: 32px;
    height: 32px;
    background-position: -2.5px -102.5px;
}

.icon-follow {
    width: 46px;
    height: 29.5px;
    background-position: -40px -102.5px;
}

.icon-garena {
    width: 66.5px;
    height: 50.5px;
    background-position: -153.5px -2.5px;
}

.icon-search {
    width: 25.5px;
    height: 25.5px;
    background-position: -153.5px -58px;
}

.icon-vip {
    width: 65px;
    height: 65px;
    background-position: -153.5px -88.5px;
}

.icon-big {
    background-image: url(../images/spritebig.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.icon-account-big {
    width: 103px;
    height: 103px;
    background-position: -5px -5px;
}

.icon-card-big {
    width: 130px;
    height: 96px;
    background-position: -5px -118px;
}

.icon-garena-big {
    width: 114px;
    height: 86px;
    background-position: -118px -5px;
}

.icon-search-big {
    width: 34px;
    height: 34px;
    background-position: -145px -101px;
}

.icon-vip-big {
    width: 103px;
    height: 103px;
    background-position: -242px -5px;
}

.icon-follow-big {
    width: 57px;
    height: 36px;
    background-position: -189px -118px;
}

.gradient,
.modal .modal-header {
    background: #ed493e;
    background: -webkit-linear-gradient(-45deg, #ed493e 0%, #cc3142 100%);
    background: -webkit-linear-gradient(315deg, #ed493e 0%, #cc3142 100%);
    background: linear-gradient(135deg, #ed493e 0%, #cc3142 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed493e', endColorstr='#cc3142', GradientType=1);
}

.gradient-line,
.card-support {
    background: #f04b3e;
    background: -webkit-linear-gradient(top, #f04b3e 0%, #cc3141 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#f04b3e), to(#cc3141));
    background: linear-gradient(to bottom, #f04b3e 0%, #cc3141 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f04b3e', endColorstr='#cc3141', GradientType=0);
}

.gradient-left,
.card-line,
.panel-head span {
    background: #cd3242;
    background: -webkit-linear-gradient(left, #cd3242 0%, #ef4a3e 100%);
    background: -webkit-gradient(linear, left top, right top, from(#cd3242), to(#ef4a3e));
    background: linear-gradient(to right, #cd3242 0%, #ef4a3e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd3242', endColorstr='#ef4a3e', GradientType=1);
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
    display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
    outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
    border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
    overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
    margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
    overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
    overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
    line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
    overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
    font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    color: #fff;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    color: #cdbe91;
    text-decoration: none;
    -webkit-transition: color .25s ease;
    transition: color .25s ease;
}

a:hover,
a:focus {
    color: #cdbe91;
    text-decoration: none;
}

p,
ul,
ol,
dl,
pre,
figure {
    margin: 0 0 1rem 0;
    line-height: 150%;
}

p:empty,
ul:empty,
ol:empty,
dl:empty,
pre:empty,
figure:empty {
    display: none;
}

blockquote,
.explanation {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    padding-left: 1em;
    font-weight: lighter;
    font-style: normal;
    border-left: 5px solid #cdbe91;
}

blockquote>*:last-child,
.explanation>*:last-child {
    margin-bottom: 0;
}

hr {
    border: 0;
    height: 1px;
    background: #e5e5e5;
}

img {
    border: 0;
}

table {
    margin-bottom: 1rem;
}

table th {
    font-weight: bold;
    text-align: left;
}

.table {
    width: 100%;
    max-width: 100%;
}

.table td,
.table th {
    padding: 1rem;
    border-bottom: 1px solid #e5e5e5;
}

.table th {
    font-weight: bold;
}

.table thead td,
.table thead th {
    border-bottom-width: 2px;
}

.table tbody tr:last-child td,
.table tbody tr:last-child th,
.table tfoot tr:last-child td,
.table tfoot tr:last-child th {
    border-bottom: 0;
}

.table tfoot td,
.table tfoot th {
    border-top: 2px solid #e5e5e5;
}

.table caption {
    padding: 0.75rem;
    font-size: small;
    color: #999;
}

ul {
    list-style: disc;
    margin-left: 1.4em;
    padding-left: 0;
}

ul ul,
ul ol {
    margin-bottom: 0;
}

ol {
    list-style: decimal;
    margin-left: 1.4em;
    padding-left: 0;
}

ol ul,
ol ol {
    margin-bottom: 0;
}

.no-bullet {
    list-style: outside none none;
    margin-left: 0;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin: 0 0 0.4em 0;
    padding: 0;
    line-height: 1.2;
    font-weight: bold;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.h1 a:hover,
.h2 a:hover,
.h3 a:hover,
.h4 a:hover,
.h5 a:hover,
.h6 a:hover {
    color: inherit;
    text-decoration: inherit;
}

h1,
.h1 {
    font-size: 3.2rem;
}

h2,
.h2 {
    font-size: 3.0rem;
}

h3,
.h3 {
    font-size: 2.6rem;
}

h4,
.h4 {
    font-size: 2.0rem;
}

h5,
.h5 {
    font-size: 1.8rem;
}

h6,
.h6 {
    font-size: 1.6rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    display: block;
}

strong,
b,
.bold {
    font-weight: bold;
}

em,
dfn,
i,
.italic {
    font-style: italic;
}

u,
ins,
.underline {
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

sub,
.subscribt {
    font-size: small;
    text-transform: subscribe;
}

sup,
.superscript {
    font-size: small;
    text-transform: superscript;
}

del,
s,
.strike {
    text-decoration: line-through;
}

small {
    font-size: small;
}

#header {
    position: relative;
}

input,
textarea,
button {
    -webkit-appearance: none;
    outline: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="date"],
input[type="datalist"],
input[type="time"],
textarea {
    border: 1px solid #A5A5A5;
    border-radius: 6px;
    font-size: 1.6rem;
    color: #707070;
    outline: none !important;
    width: 100%;
    max-width: 620px;
    padding: 5px 10px;
    background: #fff;
    height: 49px;
    background-color: transparent;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="datalist"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #707070;
}

input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="datalist"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #707070;
}

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="datalist"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: #707070;
}

input[type="text"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
input[type="url"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="date"]:-moz-placeholder,
input[type="datalist"]:-moz-placeholder,
input[type="time"]:-moz-placeholder,
textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #707070;
}

.wrap-form {
    padding-left: 30px;
    padding-right: 30px;
}

.form-line {
    margin-bottom: 20px;
}

.form-line label {
    font-weight: bold;
}

textarea {
    min-height: 100px;
}

.selections {
    position: relative;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    background-color: #F5F5F5;
    display: inline-block;
}

.selections span {
    padding-left: 10px;
    padding-right: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

.selections select {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0;
}

.selections:after {
    content: "";
    position: absolute;
    background-image: url(../images/sprite2x.png);
    background-size: 222.5px 156px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: -88px -2.5px;
    top: 14px;
    right: 15px;
}

.form-submit .btn {
    max-width: 160px;
    font-size: 1.6rem;
    text-transform: uppercase;
}

label {
    display: block;
    font-weight: bold;
}

.ele {
    margin-bottom: 15px;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
}

input[type="radio"] {
    -webkit-appearance: radio;
}

.btn {
    display: inline-block;
    padding: 0 10px !important;
    color: #fff !important;
    font-size: 2.3rem;
    font-weight: bold;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    position: relative;
    border-radius: 8px;
    -webkit-transition: background-color .25s ease, color .25s ease, border-color .25s ease, -webkit-transform .25s ease;
    transition: background-color .25s ease, color .25s ease, border-color .25s ease, -webkit-transform .25s ease;
    transition: transform .25s ease, background-color .25s ease, color .25s ease, border-color .25s ease;
    transition: transform .25s ease, background-color .25s ease, color .25s ease, border-color .25s ease, -webkit-transform .25s ease;
    width: 100%;
    height: 45px;
    line-height: 45px !important;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.btn.btn-red,
.btn.btn-focus {
    background-color: #E05050;
}

.btn.btn-red-border {
    background: transparent;
    border: 2px solid #E05050;
    color: #E05050 !important;
}

.btn.btn-red-border:hover {
    background-color: transparent;
    color: #c03737 !important;
    border-color: #c03737;
}

.btn:hover {
    background-color: #c03737;
}

html {
    height: 100%;
}

body {
    background: #fff;
    height: 100%;
    position: relative;
    font-size: 1.6rem;
    color: #707070;
    font-family: "Roboto", sans-serif;
}

body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2B2B2B;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .25s ease, visibility .25s ease;
    transition: opacity .25s ease, visibility .25s ease;
    z-index: 8;
}

img {
    max-width: 100%;
}

a {
    outline: none !important;
}

a:hover {
    color: #EF0909;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#main-body {
    padding-bottom: 50px;
}

#footer {
    position: absolute;
    width: 100%;
    height: 40px;
    background: #F7F7F7;
    bottom: 0;
    left: 0;
}

#footer p,
#footer ul,
#footer ol,
#footer dl {
    margin-bottom: 0;
    white-space: nowrap;
    line-height: 40px;
    font-size: 1.2rem;
}

#footer p a,
#footer ul a,
#footer ol a,
#footer dl a {
    color: #7E7E7E;
}

#footer p a:hover,
#footer ul a:hover,
#footer ol a:hover,
#footer dl a:hover {
    color: #EF0909;
}

.account-area {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.account-area a {
    color: #fff;
}

.account-area .avatar {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.top-bar {
    background-color: #343333;
    height: 50px;
}

.top-bar a {
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.top-bar a:hover {
    color: #EF0909;
}

.top-bar ul li {
    margin: 0 10px;
}

.top-bar ul li a {
    height: 50px;
    line-height: 50px;
}

.container-fluid {
    max-width: 1600px;
}

.menu-toggle {
    display: inline-block;
}

.menu-toggle i {
    vertical-align: text-top;
}

.logo {
    display: inline-block;
    padding: 3px 0;
    vertical-align: text-top;
    margin-top: -10px;
}

.logo img {
    max-width: 110px;
}

.head-box {
    padding: 20px 0;
    position: relative;
    z-index: 1;
}

.head-box:before {
    content: "";
    position: absolute;
    width: 363px;
    height: 100%;
    background: url(../images/garena-bg.png) no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
}

.head-box h1 {
    color: #fff;
}

.head-box.head-default {
    padding: 40px 0;
}

.main-nav ul {
    margin: 0;
    display: inline-block;
}

.main-nav ul li {
    display: inline-block;
}

.main-nav ul li a {
    line-height: 52px;
    display: inline-block;
    position: relative;
}

.main-nav ul li a.active:before {
    height: 4px;
    width: 100%;
    background: #EF0909;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

.main-nav ul li a.active:hover {
    color: #fff;
}

.search-form {
    position: relative;
    background: #fff;
    border-radius: 30px;
    height: 59px;
    max-width: 667px;
    margin-left: auto;
    margin-right: auto;
}

.search-form input {
    border: 0;
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 50px;
    font-size: 2.4rem;
}

.search-form button {
    outline: none !important;
    border: 0;
    background: transparent;
    width: 45px;
    height: 45px;
    position: absolute;
    padding-top: 10px;
    top: 2px;
    right: 10px;
}

.nav-opened:before {
    visibility: visible;
    opacity: .77;
}

.nav-opened .fixed-nav {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.block-support {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
}

.block-support .row {
    position: relative;
    margin-bottom: 50px;
    overflow: hidden;
    border-radius: 8px;
}

.col-6:nth-child(4) .card-support {
    padding-top: 20px;
}

.col-6:nth-child(4) .card-support:before {
    content: "";
    float: left;
    padding-top: 100%;
    margin-top: -10px;
}

.card-support {
    position: relative;
    display: inline-block;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    width: 100%;
    padding-top: 15px;
}

.card-support i {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    -webkit-transition: -webkit-transform .25s ease;
    transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease, -webkit-transform .25s ease;
}

.card-support span {
    display: block;
    font-size: 2.5rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 16px;
    left: 20px;
    text-align: left;
    color: #fff;
    font-weight: 900;
    line-height: 120%;
}

.card-support:before {
    content: "";
    float: left;
    padding-top: 105%;
    margin-top: -5px;
}

.card-support:after {
    content: "";
    width: 12px;
    height: 22px;
    background: url(../images/angle-right.png) no-repeat;
    position: absolute;
    bottom: 35px;
    right: 25px;
    -webkit-transition: right .25s ease;
    transition: right .25s ease;
}

.card-support:hover i {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.card-support:hover:after {
    right: 15px;
}

.card-line {
    border-radius: 8px;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    font-size: 1.8rem;
    color: #fff !important;
    font-weight: bold;
    position: relative;
    margin-bottom: 30px;
    text-align: center;
}

.card-line .icon-follow-big {
    position: absolute;
    top: 7px;
    left: 15px;
}

.card-line .icon-angle {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 25px;
    -webkit-transition: right .25s ease;
    transition: right .25s ease;
}

.card-line:hover .icon-angle {
    right: 15px;
}

.game-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    z-index: 2;
    padding: 0 15px;
    visibility: hidden;
    -webkit-transition: visibility .25s ease, opacity .25s ease, left .5s ease, -webkit-transform .25s ease;
    transition: visibility .25s ease, opacity .25s ease, left .5s ease, -webkit-transform .25s ease;
    transition: transform .25s ease, visibility .25s ease, opacity .25s ease, left .5s ease;
    transition: transform .25s ease, visibility .25s ease, opacity .25s ease, left .5s ease, -webkit-transform .25s ease;
}

.game-list.active {
    opacity: 1;
    visibility: visible;
    left: 0;
}

.game-list article {
    border-radius: 10px;
    background-color: #555555;
    padding: 15px;
    text-align: center;
    height: 100%;
    padding-top: 5px;
}

.game-list article .row {
    margin-bottom: 0;
}

.game-list .col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 14%;
    flex: 0 0 14%;
    max-width: 14%;
    margin-top: 2px;
    margin-bottom: 0;
}

.game-list h2 {
    font-size: 1.6rem;
    color: #fff;
    font-weight: normal;
    margin-bottom: 15px;
}

.game-list .close-game-list {
    position: absolute;
    top: 10px;
    right: 25px;
}

.game-list .game-icon {
    display: inline-block;
    line-height: 16px;
}

.game-list .game-icon img {
    max-width: 90px;
    display: inline-block;
    -webkit-transition: -webkit-transform .25s ease;
    transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease, -webkit-transform .25s ease;
}

.game-list .game-icon span {
    font-size: 1.2rem;
    color: #fff;
    text-transform: capitalize;
}

.game-list .game-icon:hover img {
    -webkit-transform: rotate(-9deg);
    -ms-transform: rotate(-9deg);
    transform: rotate(-9deg);
}

.game-support {
    position: relative;
    z-index: 3;
}

.game-support:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: -20px;
    background: #fff;
}

.breadcrumbs {
    background: #EDEDED;
}

.breadcrumb {
    padding: 0;
    padding: 10px 0;
    margin: 0 !important;
}

.breadcrumb a {
    font-size: 1.6rem;
    color: #959595;
    font-weight: bold;
}

.breadcrumb .breadcrumb-item.active {
    color: #9A9A9A;
}

.breadcrumb .breadcrumb-item:before {
    content: "";
    display: inline-block;
    background: url(../images/breadcrumb.png) no-repeat;
    background-size: 100%;
    width: 6px;
    height: 11px;
    margin-right: 3px;
}

.hr {
    height: 1px;
    width: 100%;
    border-bottom: 1px solid rgba(232, 232, 232, 0.5);
}

.panel-wrapper {
    padding: 0 15px;
    margin-top: 50px;
}

.panel-item {
    position: absolute;
    margin-bottom: 25px;
    width: 100%;
    margin-top: 60px;
}

.panel-item.active .panel-head span {
    background: #343333;
}

.panel-item.active .panel-head:before {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-head {
    display: block;
    height: 60px;
    line-height: 60px;
    font-size: 2rem;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 10px;
    position: absolute;
    width: 25%;
    top: -60px;
}

.panel-head span {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 0 20px;
}

.panel-1 .panel-head {
    left: 0;
}

.panel-2 .panel-head {
    left: 25%;
}

.panel-3 .panel-head {
    left: 50%;
}

.panel-4 .panel-head {
    left: 75%;
}

.panel-head:before {
    content: "";
    position: absolute;
    background-image: url(../images/sprite2x.png);
    background-size: 222.5px 156px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 10.5px;
    height: 18px;
    background-position: -72.5px -2.5px;
    top: 20px;
    right: 30px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: -webkit-transform .25s ease;
    transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease, -webkit-transform .25s ease;
}

.panel-content {
    background-color: #F4F4F4;
    border-radius: 2px;
    border: 2px solid #ababab;
    padding: 20px;
    display: none;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.panel-content:before {
    content: "";
    position: absolute;
    width: 13px;
    height: 15px;
    background: url(../images/tie.png) no-repeat;
    top: 10px;
    left: 10%;
}

.panel-2 .panel-content:before {
    left: 35%;
}

.panel-3 .panel-content:before {
    left: 60%;
}

.panel-4 .panel-content:before {
    left: 85%;
}

.panel-content .featured-article {
    padding: 0;
}

.panel-content p,
.panel-content ul,
.panel-content ol,
.panel-content dl {
    margin-bottom: 10px;
}

.panel-content a {
    color: #707070;
}

.readmore {
    color: #D8D8D8 !important;
}

.featured-article {
    padding: 15px 20px;
}

.featured-article h3 {
    color: #57C7FF;
    font-size: 1.6rem;
    font-weight: normal;
    margin-bottom: 10px;
    text-decoration: underline;
}

.featured-article p,
.featured-article ul,
.featured-article ol,
.featured-article dl {
    margin-bottom: 8px;
}

.featured-article p a,
.featured-article ul a,
.featured-article ol a,
.featured-article dl a {
    color: #707070;
}

.wrap-content {
    margin-bottom: 50px;
    margin-top: 50px;
}

.wrap-content ul {
    list-style: none;
    margin: 0;
}

.wrap-content ul li {
    position: relative;
    padding-left: 15px;
}

.wrap-content ul li:before {
    content: "•";
    color: #EF0909;
    font-size: 2.5rem;
    position: absolute;
    top: 0;
    left: 0;
}

.wrap-content a {
    color: #57C7FF;
}

.page-title {
    color: #EF0909;
    font-size: 2.4rem;
    font-weight: normal;
    padding-left: 10px;
    border-left: 3px solid #EF0909;
}

.post-entry {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.page-content {
    padding: 10px;
}

.ff-section {
    display: none;
    margin-bottom: 20px;
}

.ff-section:not([data-ffid]),
.ff-section.ff-show {
    display: block;
}

.ff-option {
    background-color: #F5F5F5;
    padding: 10px;
    border: 1px solid #E6E6E6;
    cursor: pointer;
    font-size: 1.5rem;
    padding-left: 55px;
    margin-bottom: 10px;
    position: relative;
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease;
    max-width: 400px;
}

.ff-option:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #9A9A9A;
    left: 10px;
    top: 50%;
    margin-top: -15px;
}

.ff-option:after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #575757;
    left: 16px;
    top: 50%;
    margin-top: -9px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .25s ease;
    transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease, -webkit-transform .25s ease;
}

.ff-option.ff-active {
    background-color: #D9D9D9;
    border-color: transparent;
}

.ff-option.ff-active:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.tip {
    background-color: #F5F5F5;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px 30px;
    margin-bottom: 30px;
}

.page-content .tip {
    margin-left: 0px;
    margin-right: 0px;
}

.tip h4 {
    font-size: 1.6rem;
    font-weight: bold;
    color: #2B2B2B;
}

.tip p:last-of-type,
.tip ul:last-of-type,
.tip ol:last-of-type,
.tip dl:last-of-type {
    margin-bottom: 0;
}

.support-line {
    padding-left: 10px;
    border-left: 3px solid #EF0909;
    margin-bottom: 20px;
}

.support-line a {
    color: #707070;
}

.rating-area {
    padding: 0 15px;
    margin-bottom: 30px;
}

.rating-area .col-6 {
    padding: 0 10px;
}

.mb30 {
    margin-bottom: 30px;
}

.block {
    padding: 0 15px;
    margin-bottom: 30px;
}

.block h2 {
    font-size: 2.4rem;
    color: #2B2B2B;
    font-weight: bold;
    padding-left: 10px;
    border-left: 3px solid #EF0909;
}

.block article {
    padding-left: 13px;
}

.block article a {
    color: #707070;
}

.block article a.readmore {
    color: #D8D8D8;
}

.page-detail {
    padding: 50px 80px;
    background: #FAFAFA;
    margin-top: 0;
}

.wrap-content .pagination li {
    padding: 0;
}

.wrap-content .pagination li::before {
    display: none;
}

.page-item .page-link {
    background: transparent;
    border: 0;
    color: #2B2B2B;
    font-size: 1.4rem;
    font-weight: bold;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: .5rem 1rem;
    margin-left: 3px;
    margin-right: 3px;
}

.page-item .page-link:hover,
.page-item .page-link span {
    color: #CE4237;
    -webkit-transition: color .25s ease, background-color .25s ease;
    transition: color .25s ease, background-color .25s ease;
}

.page-item.active .page-link,
.page-item:hover .page-link {
    background: #CE4237;
    color: #fff;
}

.page-item.active .page-link span,
.page-item:hover .page-link span {
    color: #fff;
}

.modal {
    opacity: 0;
    visibility: hidden;
    display: block;
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-transition: opacity .25s ease, visibility .25s ease;
    transition: opacity .25s ease, visibility .25s ease;
}

.modal .modal-content {
    background-color: #2B2B2B;
    color: #fff;
}

.modal .modal-content p,
.modal .modal-content ul,
.modal .modal-content ol,
.modal .modal-content dl {
    color: #fff;
}

.modal .modal-header {
    height: 60px;
    white-space: nowrap;
    padding: 0 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 0;
    border-radius: 0;
    overflow: hidden;
    position: relative;
}

.modal .modal-header .close {
    color: #fff;
    opacity: 1;
    height: 100%;
    position: absolute;
    right: 10px;
    top: 0;
}

.modal .modal-header:before {
    content: "";
    position: absolute;
    width: 180px;
    height: 100%;
    background: url(../images/garena-bg.png) no-repeat;
    background-size: 100%;
    top: 0;
    right: 0;
}

.modal .modal-header h5 {
    line-height: 60px;
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.modal .modal-body {
    padding-top: 50px;
    padding-bottom: 50px;
}

.modal .modal-footer {
    border-top: 0;
    padding: 10px 50px;
    padding-bottom: 30px;
}

.modal .modal-footer .btn {
    font-weight: normal;
}

.modal.show {
    visibility: visible;
    display: block;
    -webkit-animation: showModal .25s ease both;
    animation: showModal .25s ease both;
    opacity: 1;
}

@-webkit-keyframes showModal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes showModal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.form-support .form-advanced {
    display: none;
}

.form-support.active .pre-form {
    display: none;
}

.pre-form .pre-form-notice {
    display: none;
}

.pre-form-notice p {
    text-align: justify;
    color: #FF0000;
}

.pre-form-notice .btn {
    max-width: 180px;
}

.form-support.active .form-advanced {
    display: block;
}

.frm-request .btn {
    max-width: 180px;
}

.ph-attachment {
    margin-bottom: 10px;
    margin-top: 10px;
}

.ele.ph-attachment {
    display: block;
}

.ph-attachment ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ph-attachment>span {
    margin-bottom: 10px;
    display: block;
}

.ph-attachment .att-file {
    position: relative;
    margin-top: 20px;
}

.ph-attachment .att-file input[type="file"] {
    position: absolute;
    opacity: 0;
}

.ph-attachment ul li {
    display: inline-block;
    max-width: 20%;
    position: relative;
    margin-right: 7px;
}

.ph-attachment ul li>img {
    border: 1px solid #fff;
    max-width: 90px;
    width: 100%;
}

.ph-attachment ul li .att-remove {
    position: absolute;
    top: -8px;
    right: -8px;
    display: block;
}

.ph-attachment ul li .att-remove img {
    vertical-align: middle;
}

.ph-grplinks {
    text-align: center;
    margin: 20px 0;
}

.ele.ph-grplinks {
    display: block;
}

.ph-attachment ul li {
    display: inline-block;
    max-width: 20%;
    position: relative;
    margin-right: 7px;
}

span.upload-container:after {
    background: url(../images/attachment-empty.png);
    width: 90px;
    height: 90px;
    background-size: 90px;
}

.ph-attachment ul li .upload-container {
    width: 90px;
    height: 90px;
    overflow: hidden;
    display: block;
}

.upload-container input[type='file'] {
    width: 90px !important;
    height: 90px !important;
    padding: 0px !important;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    bottom: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.frm-request .ele select {
    padding: 10px;
    border: 1px solid #A5A5A5;
    font-size: 16px;
    line-height: 49px;
    height: 49px;
    border-radius: 3px;
    outline: none;
    width: 100%;
    max-width: 620px;
}

ul.upload-previews li:before {
    display: none;
}

.hide {
    display: none !important;
}

.thongtincanhan .tkgarena {
    border: 1px solid #c74445;
    border-radius: 6px;
    margin-top: 20px;
    overflow: hidden;
    margin-bottom: 50px;
}

.thongtincanhan .ttkh {
    border: 1px solid #888888 !important;
}

.thongtincanhan .tkgarena .tieude {
    padding: 8px 10px;
    background: #c74445;
    overflow: hidden;
    color: #fff;
}

.thongtincanhan .tkgarena .other_info {
    background: #888888 !important;
}

.thongtincanhan .tkgarena .tieude h4 {
    color: #fff;
}

.thongtincanhan .tkgarena .tieude .icon-edit {
    font-size: 30px;
}

.thongtincanhan .tkgarena .field-group,
.thongtincanhan .tieude {
    clear: both;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.submituser button {
    background: transparent;
    border: none;
    color: #FFF;
    outline-color: #fff;
}

.thongtincanhan .tkgarena .field-group .key {
    border-top: solid 1px #CCC;
    padding: 10px 10px 0px 10px;
}

.thongtincanhan .tkgarena .field-group .key p,
.thongtincanhan .tkgarena .field-group .key ul,
.thongtincanhan .tkgarena .field-group .key ol,
.thongtincanhan .tkgarena .field-group .key dl {
    margin-bottom: 0;
}

.thongtincanhan .tkgarena .field-group .value {
    border-top: solid 1px #ccc;
    border-left: 1px solid #ccc;
    padding: 10px 10px 7px 10px;
}

.thongtincanhan .tkgarena .field-group .value a {
    color: #288b02;
}

.thongtincanhan .ttkh .field-group .key {
    border-top: solid 1px #ccc;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ccc;
    background: #7b797a;
}

.th-content .panel-default {
    border: none;
    border-radius: 0px;
    margin: 15px 0 !important;
    overflow: hidden;
}

.th-content .panel-default.current .dsp-content {
    background-color: #E7E7E7;
}

.th-content .panel-title {
    color: #FFF;
    font-size: 24px;
    padding-top: 10px;
    font-weight: 100;
    padding-bottom: 10px;
}

.th-content .panel-heading {
    background: #7b797a;
    cursor: pointer;
}

.th-content .panel-heading p,
.th-content .panel-heading ul,
.th-content .panel-heading ol,
.th-content .panel-heading dl {
    margin-top: 10px;
}

.th-content .panel-heading .media-left {
    padding-top: 20px;
}

.th-content .panel-heading[aria-expanded=true] {
    background: #7b797a;
}

.th-content .panel-body {
    padding-left: 40px;
    background: #7b797a;
}

.th-content .in .panel-body {
    background: #7b797a;
}

.th-content .icon {
    font-size: 46px;
}

.th-content .ticket-title {
    border-bottom: solid 1px #ccc !important;
    overflow: hidden;
}

.th-content input[type=submit] {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #d02020;
    color: #fff;
    font-size: 16px;
    padding: 10px 45px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.th-content input[type=submit]:hover {
    background: #FFF;
    color: #d02020;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.th-content .rating {
    unicode-bidi: bidi-override;
    font-size: 20px;
    direction: rtl;
}

.th-content .rating>span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.th-content .rating>span:hover:before,
.th-content .rating>span:hover~span:before {
    color: yellow;
    content: "\2605";
    position: absolute;
}

.rating-item {
    font-size: 18px;
    cursor: pointer;
}

.rated {
    color: #d02020 !important;
}

.not-rated {
    color: #333 !important;
}

.thongtincanhan .value select {
    padding: 10px;
    border: 1px solid #A5A5A5;
    font-size: 16px;
    line-height: 49px;
    height: 49px;
    border-radius: 3px;
    outline: none;
    width: 100%;
    max-width: 620px;
}

.thongtincanhan .value input {
    border: 1px solid #A5A5A5;
    border-radius: 6px;
    font-size: 1.6rem;
    color: #707070;
    outline: none !important;
    width: 100%;
    max-width: 620px;
    padding: 5px 10px;
    background: #fff;
    height: 49px;
    background-color: transparent;
    margin-bottom: 10px;
}

.thongtincanhan .value input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #707070;
}

.thongtincanhan .value input::-moz-placeholder {
    /* Firefox 19+ */
    color: #707070;
}

.thongtincanhan .value input:-ms-input-placeholder {
    /* IE 10+ */
    color: #707070;
}

.thongtincanhan .value input:-moz-placeholder {
    /* Firefox 18- */
    color: #707070;
}

h6 {
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding-left: 10px;
    border-left: 2px solid #EF0909;
    margin-bottom: 10px;
    line-height: 150%;
}

.wrap-content ul li {
    margin-bottom: 8px;
}

h5 {
    text-transform: uppercase;
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical>.btn-group:before,
.btn-group-vertical>.btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
    display: none;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5),
all and (-o-min-device-pixel-ratio: 3 / 2),
all and (min--moz-device-pixel-ratio: 1.5),
all and (min-device-pixel-ratio: 1.5) {
    .icon {
        background-image: url(../images/sprite2x.png);
        background-size: 222.5px 156px;
    }
}

.bx-cont-conf label {
    display: inline-block;
}

.gj-picker .btn {
    background-color: #c03737 !important;
}

.gj-datepicker-bootstrap [role=right-icon] button {
    width: 38px;
    position: relative;
    border: 1px solid #ced4da;
    height: 100%;
    background: #6c757d !important;
    color: #fff !important;
}

.gj-datepicker-bootstrap [role=right-icon] button .gj-icon {
    top: 13px;
}

.select2-container .select2-search--inline .select2-search__field {
    height: auto;
}

.ms-parent.service {
    max-width: 620px;
}

.ms-parent .ms-choice {
    line-height: 49px;
    height: 49px;
}

.ms-drop input[type="checkbox"] {
    vertical-align: text-top !important;
    margin-top: 2px;
    margin-right: 3px;
}

table td,
table th {
    border: 1px solid #D9D9D9;
    padding: .5rem;
    vertical-align: middle;
}

table.table-align-top tr td {
    vertical-align: top;
}

.card-line span {
    position: absolute;
    min-width: 2rem;
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: 1.4rem;
    background: #fff;
    border-radius: 50%;
    color: #d63840;
    top: 50%;
    transform: translateY(-50%);
    right: 32px;
}

@media screen and (min-width: 1200px) {
    .card-line span {
        font-size: 2rem;
        right: 45px;
        min-width: 3rem;
        height: 3rem;
        line-height: 3rem;
    }
}

.ques-content .ticket-warning {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.tip a {
    color: #57C7FF;
}